.course-details-container {
  display: flex;
  width: 100%;
  padding: 60px;
}

.image-container {
  display: flex;
  width: 35%;
}

.image {
  width: 100%;
  height: 400px;
}

.name-and-description-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 60%;
}

.name {
  font-family: 'Roboto';
  font-size: 32px;
  color: #1e293b;
}

.description {
  font-family: 'Roboto';
  font-size: 18px;
  color: #64748b;
  line-height: 1.5;
  word-spacing: 3px;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
}

.failure-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
}

.failure-image {
  width: 60%;
  max-width: 500px;
}

.failure-heading {
  font-family: 'Roboto';
  font-size: 28px;
  color: #1e293b;
  margin-bottom: 5px;
}

.failure-description {
  font-family: 'Roboto';
  font-size: 18px;
  color: #64748b;
  margin: 10px 0;
}

.retry-button {
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 10px 20px;
  background-color: #4656a1;
  color: #ffffff;
  font-size: 16px;
  font-family: 'Roboto';
  cursor: pointer;
  margin-top: 10px;
}
