.course-container {
  display: flex;
  flex-direction: column;
  padding: 20px 60px;
}

.course-heading {
  font-family: 'Roboto';
  font-size: 28px;
  color: #1e293b;
}

.course-list-container {
  padding-left: 0px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.course-item {
  width: 20%;
  cursor: pointer;
  margin-bottom: 30px;
  padding: 10px;
}

.course-link {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.course-item-image {
  width: 60px;
  height: 60px;
}

.course-item-heading {
  font-family: 'Roboto';
  font-size: 16px;
  color: #475569;
  margin-left: 20px;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
}

.failure-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
}

.failure-image {
  width: 60%;
  max-width: 500px;
}

.failure-heading {
  font-family: 'Roboto';
  font-size: 28px;
  color: #1e293b;
  margin-bottom: 5px;
}

.failure-description {
  font-family: 'Roboto';
  font-size: 18px;
  color: #64748b;
  margin: 10px 0;
}

.retry-button {
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 10px 20px;
  background-color: #4656a1;
  color: #ffffff;
  font-size: 16px;
  font-family: 'Roboto';
  cursor: pointer;
  margin-top: 10px;
}
